*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

body{

    font-family: sans-serif;
    background-color: black;
    color: white;

}

ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}

/* NAV*/

.nav-container{
    height: 80px;
    background-color: black;
}
.nav-actions{
    text-align: end;
}
.nav-actions ul li{
    display: inline-block;
    color: white;
    background-color: rgba(83, 83, 83, 0.814);
    padding: 5px;
    border-radius: 5px;
    margin: 10px 3px;
}

/* MAIN */

main{
    height: calc( 100vh - 160px);
    overflow-y: auto;
}
#gallery {

    margin: 0 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;

}
#gallery .participant{
    flex: 0 0 230px;
    padding: 3px;
    position: relative;

}
.participant img{
    max-width: 100%;
    display: block;
}


/* BADGE */

.name{
    background-color: rgba(0, 0, 0, 0.439);
    display: inline;
    padding: 5px; 
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
}